
.sidebar {
    /* position: fixed; */
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    margin-right: 0;
}

.extended {
    width: 18.75rem;
}

.sidebar img {
    width: 1.125rem;
}

.sidebar .menu {
    display: block;
    margin-left: 0.625rem;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 3.125rem;
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.35rem 0.7375rem;
    background-color: #e6eaf1;
    border-radius: 3.125rem;
    font-size: 0.875rem;
    color: grey;
    cursor: pointer;
    width: auto
}

.sidebar .new-chat:hover {
    background-color: #dfe3e8;
}

.text {
    opacity: 0; /* Hidden */
    display: none;
    text-align: center; // start on tut
    margin-right: .625rem;
    transition: all 0.5s ease-in-out;
}
.show {
    opacity: 1; /* Shown */
    display: inline-block;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s ease-in-out;
}

.sidebar .recent-title {
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.sidebar .recent-entry {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem;
    border-radius: 3.125rem;
    color: #282828;
    cursor: pointer;
}

.recent-entry-ext {
    /* justify-content: center; */
    padding: 0.1rem 0.625rem !important;
}

.recent-entry-ext img {
    margin-left: .625rem;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}

.sidebar .buttom {
    display: flex;
    flex-direction: column;
}

.sidebar .buttom-item {
    padding-right: 0.625rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}